<div class="wow animated fadeIn" data-wow-delay=".15s">
    <a href="{{ hackathon_url }}" class="project card text-dark">
      {%- if hackathon_img -%}
      <img id="{{ hackathon_id }}-img" class="card-img-top" src="{{ hackathon_img }}" alt="{{ hackathon_name }}" />
      {%- endif -%}
      <div class="card-body">
          <h6 class="date">{{ hackathon_date }}</h6>
        <h5 id="{{ hackathon_id }}-name" class="card-title"><strong>
          {{ hackathon_name }}
        </strong></h5>
        {%- if hackathon_desc -%}
        <h6 id="{{ hackathon_id }}-desc" class="card-title">
          Project: {{ hackathon_desc }}
        </h6>
        {%- endif -%}
        <p id="{{ hackathon_id }}-category" class="card-text">
          {%- for category in hackathon_category -%}
          <span class="badge badge-pill text-primary border border-primary ml-1">{{ category }}</span>
          {%- endfor -%}
        </p>
      </div>
    </a>
</div>