<div class="card-columns m-3 mt-5">

    <h4 id="about-me"><strong>Here's a list of just some of the social events I will aim to run as your CSS Socials Rep!</strong></h4>
    <h6>Please get in contact with me via any of my socials if you have any suggestions, questions or just wanna chat!</h6>
    <h6>Click on any of the events to read more about my ideas.</h6>
    <br>

  {% for event in site.css-socials %}

    {%- assign event_id    = event.name | slugify -%}
    {%- assign event_img   = event.image -%}
    {%- assign event_name  = event.name -%}
    {%- assign event_desc  = event.description -%}
    {%- assign event_category = event.category -%}

    {%- assign event_url = event.url | relative_url -%}

    {% include css-socials/socials-card.html %}

  {% endfor %}

</div>